<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container-fluid">
    <h1 class="mt-4">기본설정</h1>
    <form th:action="@{/settings}" th:object="${informationForm}" method="post" novalidate>
        <label>회사명 : <input id="name" type="text" th:field="*{name}" placeholder="ex) 우리회사"></label>
        <label>대표번호 : <input id="number" type="text" th:field="*{number}" placeholder="ex) 02-123-4567"></label>
        <label>Email : <input id="email" type="text" th:field="*{email}" placeholder="ex) email@eamil.com"></label>
        <label>사업자 등록번호 : <input id="license" th:field="*{license}" type="text" placeholder="123-45-678-91011"></label>
        <div class="">
            <button class="" type="submit"
                    aria-describedby="submitHelp">설정변경</button>
        </div>
    </form>
</div>

</body>
</html>